<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="mb-2" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="mb-2" placeholder="Last name">
    </div>
  </div>
  <input type="text" class="mb-2" placeholder="Email">
  <select id="cars" class="mb-2">
    <option disabled> </option>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <textarea class="mb-2" placeholder="Message"></textarea>
  <button class="btn btn-success">Send</button>
</form>