
    <!DOCTYPE html>
    <html lang="en">
      <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title> Bootlib - forms - modern </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
      </head>
      <body id="page-top" class="text-center text-md-left">
        <div class="">
          <div class="modern-container">
            <div class="row">

              <div class="col-lg-6 mr-lg-0 pr-lg-0">
                <img src="component.jpg" class="modern-img" alt="">
              </div>
              <div class="col-lg-6 ml-lg-0 pl-lg-0">
                <form class="modern-form">
                  <fieldset class='float-label-field'>
                    <label for="txtName">Name</label>
                    <input id="txtName" type='text'>
                  </fieldset>
                  <fieldset class='float-label-field'>
                    <label for="txtEmail" >Email</label>
                    <input id="txtEmail" type='text'>
                  </fieldset>
                  <fieldset class='float-label-field'>
                    <label for="txtPassword">Password</label>
                    <input id="txtPassword" type='password'>
                  </fieldset>
                  <fieldset class='float-label-field'>
                    <label for="txtConfirmPassword">Confirm Password</label>
                    <input id="txtConfirmPassword" type='password'>
                  </fieldset>
                  <fieldset class='float-label-field'>
                    <label for="cars">Options</label>
                    <select id="cars">
                      <option selected disabled></option>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </fieldset>
                  <fieldset class='float-label-field'>
                    <label for="message">Message</label>
                    <textarea id="message"></textarea>
                  </fieldset>
                  <button class="modern-btn btn-success">Send</button>
                  </form>
              </div>
              
            </div>
          </div>
         

        </div>
        <!-- Full JQuery -->
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
        </script>

        <!-- Bootstrap core javascript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <!-- Custom scripts for this template -->
        <script src="index.js"></script>
      </body>
    </html>
    