
<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Las consultas online de Panama Consulta son la forma mas conveniente de obtener la informacion legal que necesites en Panama">
    <meta name="author" content="torus-digital">
    <title> Panama Consulta - Consultas </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/consultas.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body id="page-top" class="text-center text-md-left">
    <#NAV_HOVER>
    <#FORM_MODERN>
    <#STATIC_SECTION_STANDARD>
    <#FOOTER_STANDARD>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="js/form_modern.js"></script>
  </body>
</html>