
<!DOCTYPE html>
  <html lang="en">
    <head>  
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title> Consultas Panama - servicios </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="css/servicios.css">
    </head>
      <body id="page-top" class="text-center text-md-left"><nav class="navbar navbar-expand-lg px-lg-5 bg-white">
  <a class="navbar-brand smooth-scroll" href="#page-top">
    <img src="img/logo.svg" width="auto" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-alternate" id="mainNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <div class="container text-center">
    <h2 class="text-alternate">Standard Section</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>
<section>
  <div class="container text-center">
    <LEGAL_SERVICES>
      <div class="row">
        <div class="col-2">
          <i class="{{icon}} fa-3x"></i>
        </div>
        <div class="col-10 text-left">
          <h2 class="text-alternate">{{title}}</h2>
          <p>{{description}}</p>
        </div>
      </div>
    </LEGAL_SERVICES>
  </div>
</section>
<section>
  <div class="container text-center">
    <FINANCIAL_SERVICES>
      <div class="row">
        <div class="col-2">
          <i class="{{icon}} fa-3x"></i>
        </div>
        <div class="col-10 text-left">
          <h2 class="text-alternate">{{title}}</h2>
          <p>{{description}}</p>
        </div>
      </div>
    </FINANCIAL_SERVICES>
  </div>
</section>
<section>
  <div class="container text-center">
    <OTHER_SERVICES>
      <div class="row">
        <div class="col-2">
          <i class="{{icon}} fa-3x"></i>
        </div>
        <div class="col-10 text-left">
          <h2 class="text-alternate">{{title}}</h2>
          <p>{{description}}</p>
        </div>
      </div>
    </OTHER_SERVICES>
  </div>
</section>
<footer class="bg-secondary py-md-5">
  <div class="container">
    <div class="row text-primary">
      <div class="col-6">yourdomain ©</div>
      <div class="col-6 text-md-right">powered by <a href="https://bootlib.com">Bootlib</a></div>
    </div>
  </div>
</footer>
   
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        
      </body>
    </html>