<div class="modern-container">
  <div class="row">
    <div class="col-lg-6 mr-lg-0 pr-lg-0">
      <img src="component.jpg" class="modern-img" alt="">
    </div>
    <div class="col-lg-6 ml-lg-0 pl-lg-0">
      <form class="modern-form">
        <fieldset class='float-label-field'>
          <label for="txtName">Name</label>
          <input id="txtName" type='text'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="txtEmail" >Email</label>
          <input id="txtEmail" type='text'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="txtPassword">Password</label>
          <input id="txtPassword" type='password'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="txtConfirmPassword">Confirm Password</label>
          <input id="txtConfirmPassword" type='password'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="cars">Options</label>
          <select id="cars">
            <option selected disabled></option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        </fieldset>
        <button class="modern-btn btn-success">Send</button>
        </form>
    </div>
  </div>
</div>