<div class="modern-container">
  <div class="row">
    <div class="col-lg-6 mr-lg-0 pr-lg-0">
      <img src="img/consultas.jpg" class="modern-img" alt="">
    </div>
    <div class="col-lg-6 ml-lg-0 pl-lg-0">
      <form class="modern-form">
        <fieldset class='float-label-field'>
          <label for="txtName">Nombre Completo</label>
          <input id="txtName" type='text'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="txtEmail">Correo Electronico</label>
          <input id="txtEmail" type='email'>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="consulta_type">Tipo de Consulta</label>
          <select id="consulta_type">
            <option selected disabled></option>
            <option value="legal">Legal</option>
            <option value="Financiera">financiera</option>
          </select>
        </fieldset>
        <fieldset class='float-label-field'>
          <label for="consulta">Consulta</label>
          <textarea id="consulta"></textarea>
        </fieldset>
        <button class="modern-btn btn-success">Enviar</button>
        </form>
    </div>
  </div>
</div>