<section class="bg-light">
  <div class="container text-center">
    <h2 class="text-alternate font-italic h3 pb-2">Una forma mas rapida de obtener tu informacion legal</h2>
    <p class="text-left">Estar infromado legalmente es un requerimiento basico para poder tomar buenas decisiones, pero el proceso tradicional usualmente resulta bastante tedioso para el cliente. Panama Consulta es un prodcuto de Faragon & Consulting que se creo con el proposito de poder conseguir la informacion legal que el cliente necesite con la minima interaccion posible. Nuestra plataforma online en conjunto con nuestro equipo de profesionales con altos estandares de cumplimiento nos permiten responder tu solicitud en menos de 24 horas a la comodidad de tu correo electronico.
  </div>
</section>