<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="smartphone">
          <div class="content">
            <img src="img/img.svg" alt="" style="width:100%;border:none;height:100%;object-fit: cover;">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <h2 class="text-primary ml-2 pb-1">Como hacer una consulta</h2>
        <ol class="usage-instructions">
          <li>Haga clic en la pestana de consultas</li>
          <li>llene sus datos, seleccione el tipo de su consulta, y escriba su consulta textualmente</li>
          <li>haga clic en enviar</li>
          <li>llena tus datos de pago</li>
          <li>Haga clic en enviar</li>
          <li>Espera a ver el mensaje de confirmacion</li>
          <li>En menos de 24 horas resivira una respuesta de alguno de los profesionales en nuestro equipo en su correo</li>
        </ol>
      </div>
    </div>
  </div>
</section>