<section>
  <div class="container text-center">
    <h1 class="py-4">Otros Servicios</h1>
    <div class="row">
      <OTHER_SERVICES>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="{{icon}} fa-3x"></i>
            </div>
            <div class="col-10 text-left">
              <h2 class="text-alternate">{{title}}</h2>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
      </OTHER_SERVICES>
    </div>
  </div>
</section>