html, body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal;
}
.bg-primary {background-color: #c6c6c6 !important}
.bg-secondary {background-color: #ddd !important}
.bg-alternate {background-color: #a8a8a8 !important}
.text-primary {color: #c6c6c6 !important}
.text-secondary {color: #ddd !important}
.text-alternate {color: #a8a8a8 !important}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}/*absolute center*/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modern-container {padding: 10%;}

@media(min-width: 992px){
  img {border-radius: 10px 0% 0px 10px;}
  form {border-radius: 0% 10px 10px 0%;}
}
@media(max-width: 992px){
  img {border-radius: 10px 10px 0px 0px;}
  form {border-radius: 0px 0px 10px 10px;}
}
img { 
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  font-family: "Open Sans";
  background-color: #efefef;
}

.modern-form {
  width: 100%;
  background-color:  #fff;
  border: solid 1px #ccc;
  padding: 8%;
}
.float-label-field {
  border: none;
  outline: none;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  box-sizing: border-box;
}
.float-label-field.focus label {
  color: #218838;;
}
.float-label-field input, 
.float-label-field select, 
.float-label-field textarea {
  border: none;
  outline: none;
  padding: 5px 5px 8px 0px;
  width: 100%;
  font-size: 18px;
  border-bottom: solid 1px #efefef;
}
.float-label-field.focus input, 
.float-label-field.focus select, 
.float-label-field.focus textarea {
  border-bottom: solid 1px #218838;;
}

.float-label-field label {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.float-label-field.float label {
  opacity: 1;
  top: -10px;
  font-size: 60%;
  transition: all 0.2s ease;
  font-weight: bold;
}
select {
  background-color: #fff;
}

select option {
   background: transparent !important;
   border: none !important;
}

.modern-btn {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  border: none !important;
  border-radius: 7%;
}

input:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
html, body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal;
}
section {
  min-height: 50vh;
}
.bg-primary {background-color: #c6c6c6 !important}
.bg-secondary {background-color: #ddd !important}
.bg-alternate {background-color: #a8a8a8 !important}
.text-primary {color: #c6c6c6 !important}
.text-secondary {color: #ddd !important}
.text-alternate {color: #a8a8a8 !important}html, body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal;
}
.bg-primary {background-color: #c6c6c6 !important}
.bg-secondary {background-color: #ddd !important}
.bg-alternate {background-color: #a8a8a8 !important}
.text-primary {color: #c6c6c6 !important}
.text-secondary {color: #ddd !important}
.text-alternate {color: #a8a8a8 !important}