html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  width: 100%;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,nav ul li{
  font-family: 'PT Sans', sans-serif;
}
.bg-translucent {background-color:	hsla(234, 80%, 28%, .7)}
.bg-primary {background-color: #0E197F !important}
.bg-secondary {background-color: #DBDBDF !important}
.bg-alternate {background-color: #545F66 !important}
.bg-light {background-color: #FCFAFA !important}
.text-primary {color: #0E197F !important}
.text-secondary {color: #DBDBDF !important}
.text-alternate {color: #545F66 !important}
.text-light {color: #FCFAFA !important}

.nav-link, .nav-row a{
  color: #FCFAFA !important;
}
.nav-row{
  background: transparent;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.nav-row li{
  margin-left: 10%;
  list-style-type: none;
}
.round-row {
  border-radius: 0px 0px 7px 7px;
}

header {
  height: 75vh;
  background-image: url('../img/drone-city4.jpg');
  background-size: cover;
  position: relative;
}
.main-title-padding {
  padding-top: 15%;
  padding-bottom: 5%;
}
.btn-lg {padding: 1rem 2rem;}

section {
  padding-top: 3%;
  padding-bottom: 3%;
}
.background-img {
  background-image: url('../img/drone-city.jpg');
  background-size: cover;
  position: relative;
}
.transparency {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.smartphone {
  position: relative;
  width: 34vh;
  min-height: 300px;
  min-width: 169px;
  height: 60vh;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 24px;
}
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
}
.screen-img {
  width:100%;border:none;height:100%
}

.usage-instructions li{
  font-size: 17pt;
  margin-top: 2px;
}
.usage-instructions ol{
  margin: 0px !important;
}

.circle-img {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  box-shadow: 0 5px 5px 0 #adb5bd;
}

.circle-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}