html, body{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,nav ul li{
  font-family: 'PT Sans', sans-serif;
}

.background-img {
  background-image: url('../img/drone-city.jpg');
  background-size: cover;
  position: relative;
}

.transparency {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.bg-primary {background-color: #c6c6c6 !important}
.bg-secondary {background-color: #ddd !important}
.bg-alternate {background-color: #a8a8a8 !important}
.text-primary {color: #c6c6c6 !important}
.text-secondary {color: #ddd !important}
.text-alternate {color: #a8a8a8 !important}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header {
  height: 80vh;
  background-image: url('../img/drone-city.jpg');
  background-size: cover;
  position: relative;
}

.main-title-padding {
  padding-top: 20%;
  padding-bottom: 3%;
}
section {
  min-height: 50vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
}

.screen-img {
  width:100%;border:none;height:100%
}

.circle-img {
  max-width: 12rem;
  box-shadow: 0 5px 5px 0 #adb5bd;
}