<section>
  <div class="container text-center">
    <MEMBERS>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <a href="#" data-toggle="modal" data-target="#team-member-{{index}}">
            <img src="{{img}}" alt="{{name}}" class="mx-auto circle-img">
            <h2 class="team-member-name">{{team-member-name}}</h2>
          </a>
          <p class="attribute">{{education}}</p>
          <p class="attribute">{{labor}}</p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{img}}" alt="{{name}}">
                <h4>{{name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </MEMBERS>
  </div>
</section>