<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	<#HEAD>

	<body id="page-top" class="text-left">
		<!-- NAV -->
		<#NAV>

		<!-- HEADER -->
		<header>
			<div class="container">
				<div class="row justify-content-center pt-5">
					<h1 class="main-title text-main">Torus Project</h1>			
				</div>
				<div class="row justify-content-center pt-5">
					<h4>Our mission is to help your open source projects/ideas come to light</h4>			
				</div>
			</div>
		</header>

		<!-- INTRO -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 py-5 text-center text-white-50 padding-text">
						<h3>Torus Project is an ecosystem of intuitive and fully modular tools for your business needs.</h3>
						<p>Our microservice based architecture and high tech stack provides us with an advantage allowing us to pass significatn cost savings for our end users.   Users will be able to pay for only what they need.  For example:  You could use Cubera Reservation and add a system channel manager, CRM, RMS ending up with a Full CRS centralized reservation system for your business. Aditionally users will be given the option for customer service, for an additional price.       </p>
					</div>
				</div>
			</div>
		</section>

		<!-- OUR PROJECTS -->
		<section id="projects">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h1 class="text-white">Projects</h1>
					</div>
				</div>
				<div class="row align-items-center">

					<PROJECTS>
						<div class="col-sm-6 col-lg-4 text-center tool-element flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="../assets/img/toruscms-logo.svg" class="tool-logo">
									<h2>{title}</h2>
								</div>
								<div class="flip-card-back">
									<p class="p-3">{description}</p>
									<div>
										<a class="px-2" href="{website}">
											<i class="fas fa-lg fa-globe"></i>
										</a>
										<a class="px-2" href="{github}">
											<i class="fab fa-lg fa-github"></i>
										</a>
										<a class="px-2" href="{installation}">
											<i class="fas fa-lg fa-download"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</PROJECTS>

				</div>
			</div>
		</section>

		<!-- FOOTER -->
		<#FOOTER>

		<!-- FULL JQUERY -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
		</script>
		<!-- Bootstrap core JavaScript -->
		<script async defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<!-- Custom scripts for this template -->
		
	</body>

</html>






		